ul {
  display: flex;
  flex-wrap: wrap;
  &:after {
    content:'';
    display:block;
    flex-grow: 10;
  }
}

li {
  height: 40vh; 
  flex-grow: 1;
  list-style-type: none;
}

img {
  max-height: 90%;
  min-width: 90%;
  object-fit: contain;
  vertical-align: bottom;
}


/*media queries*/
@media (max-aspect-ratio: 1/1) { /*decrease row height when viewport taller than wide */
  li {
    height: 30vh;
  }
}

@media (max-height: 480px) { /*increase row height when small screen in landscape */
  li {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) { /*smaller screen in portrait */
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }

  img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}